@media (max-width: 980px) {
    .sidebar {
        max-width: 250px;
    }
    .avatar {
        max-width: 250px;
        max-height: 250px;
    }
    .description {
        padding: 60px 40px;
    }
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }
    .sidebar {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        max-width: 768px;
    }
    .description {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .avatar {
        max-width: 180px;
        max-height: 180px;
        margin: 0 20px;
    }
    .profession,
    .info-text {
        min-width: 280px;
        font-size: 12px;
        line-height: 20px;
    }
    .name {
        font-size: 30px;
        line-height: 60px;
    }
    .projects,
    .experience,
    .education {
        min-width: 280px;
        margin-bottom: 38px;
    }
    .projects-title,
    .experience-title,
    .education-title {
        font-size: 20px;
        line-height: 20px;
    }
    .projects-link,
    .link-tech {
        font-size: 12px;
        line-height: 20px;
    }
    .case-title {
        font-size: 14px;
        line-height: 20px;
    }
    .case-period {
        font-size: 10px;
        line-height: 16px;
    }
    .edu-case-title {
        font-size: 14px;
        line-height: 22px;
    }
    .case-list,
    .edu-case-dpt {
        font-size: 12px;
        line-height: 20px;
    }
}