* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat';
	background: #f5f7fa;
	padding: 40px;
}
.main-container {
	display: flex;
	max-width: 1280px;
	margin: 0 auto;
	box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
	background: #fff;
}
.sidebar {
	background: #1e2939;
	max-width: 370px;
	padding: 40px 0;
}
.avatar {
	max-width: 370px;
	max-height: 370px;
}
.description {
	padding: 90px 70px;
}
.contacts,
.techskills,
.softskills {
	margin-top: 50px;
	margin-left: 40px;
	margin-right: 40px;
}
.contacts-title,
.techskills-title,
.softskills-title {
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	color: #fff;
	margin-bottom: 20px;
}
.contacts-link {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #8e949c;
	text-decoration: none;
}
.contacts-icon {
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	color: #fff;
	margin-right: 10px;
}
.techskills-item,
.softskills-item {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #ff6b08;
	margin-left: 15px;
}
.techskills-item-text,
.softskills-item-text {
	color: #fff;
}
.info {
	margin-bottom: 60px;
}
.profession {
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 20px;
}
.name {
	font-size: 45px;
	font-weight: 700;
	line-height: 89px;
	margin-bottom: 20px;
}
.info-text {
	min-width: 340px;
	max-width: 500px;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}
.projects,
.experience,
.education {
	min-width: 340px;
	max-width: 500px;
	margin-bottom: 50px;
}
.projects-title {
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 10px;
}
.experience-title,
.education-title {
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 15px;
}
.projects-item {
	margin-left: 17px;
	border-bottom: 1px dotted;
	font-weight: 700;
}
.projects-item:after {
	content: '';
	display: table;
	clear: both;
}
.projects-link {
	color: #595959;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-decoration: none;
	float: left;
	margin-top: 5px;
	margin-bottom: -21px;
}
.link-tech {
	color: #595959;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}
.link-tech-edge {
	font-weight: 700;
	float: right;
	margin-top: 5px;
	margin-bottom: -21px;
}
.projects-link,
.link-tech-edge {
	background: #fff;
}
.experience-case {
	margin-bottom: 20px;
}
.case-title {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 8px;
}
.company {
	color: #ff6b08;
}
.case-period {
	color: #a8a8a8;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
}
.divider {
	color: #000;
}
.case-list {
	margin-top: 12px;
	margin-left: 17px;
	color: #595959;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}
.edu-case-title {
	color: #ff6b08;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 8px;
}
.edu-case-dpt {
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 8px;
}
